@font-face {
  font-family: theSans;
  src: url("../fonts/theSans.ttf");
}

@font-face {
  font-family: Questv1;
  src: url("../fonts/Questv1-Regular.otf");
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --mainColor: #555574;
}

button {
  background: #696995;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  color: white; 
  border-radius: 20px;
  &:hover {
    background: #555574;
  }
  &:active {
    background: #40405d;
    box-shadow: 1px 1px 12px #40405d;
  }
  transition: background 0.3s;
}
